<h1> Szevasz</h1> <h2>, {{userName}}!</h2>
<div class="container">
<div id="adatok">{{adatok|json}}</div>

<input #adatinput [(ngModel)]="adat" type="text" class="form-control" id="adat">

<button (click)="addAdat(adatinput.value)"  class="col btn btn-primary">Add Adat</button>

<p>{{oszlopok[1]}}</p>
<div *ngIf="isAdmin">
  <p *ngFor="let oszlop of oszlopok">
    {{oszlop}}
  </p>
</div>

<div class="row my-3">
  <div class="col" *ngFor="let oszlop of oszlopok">
    {{oszlop}}
  </div>
  <div class="col">
    Actions
  </div>
</div>
{{ujAllat|json}}
<div class="row my-3">

    <div class="col form-group"  *ngFor="let oszlop of oszlopok">
      <input [(ngModel)]="ujAllat[oszlop]" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button (click)="addAnimal(ujAllat)"  class="col btn btn-primary">Add Animal</button>

</div>


<div class="row" *ngFor="let allat of allatok">
  <div class="col" *ngFor="let oszlop of oszlopok">
    {{allat[oszlop]}}
  </div>
</div>
</div>
